p {
  font-family: 'Franklin Gothic Book', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.2em;
  color: darkslategrey;
}

.lead {
  color: white;
}

.footer p {
  font-size: 1em;
  color: #947D36;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: #EAEE97;
}